<%= form_tag("/discussions/#{discussion.id}/questions", method: :post, remote: true, role: "form") do -%>
	<div class="form-group">
		<label for="question"> Ask the Discussion Leader a Question: </label>
		<textarea type="text" id="question" name="question[content]"class="form-control" rows="5"></textarea>
	</div>
		<input type="hidden" id="discussion_id" name="question[discussion_id]" value=<%="#{discussion.id}"%>>
		<input type="submit" value="Submit Question" class="btn btn-xs btn-primary" id="submit-question">
<% end -%>