<span id=<%="question#{q.id}-response-span"%>>
	<li><%= q.content %></li>
	<button class="respond-to-question-button btn btn-xs btn-default">Respond</button>
	<%= form_tag("/questions/#{q.id}", method: :put, remote: true, id: "response-question#{q.id}", hidden: true, role: "form") do -%>
		<div class="form-group">
			<input type="hidden" name="question[question_status]" value="answered"><br>
			<textarea name="question[response]" class="form-control" rows="3"></textarea>
		</div>
			<input type="submit" value="Save Response" class="btn btn-xs btn-primary">
	<% end -%> 
</span>