<%= form_tag("/surveys/#{s.id}", method: :put, remote: true) do %>
	<% case status %>
	<% when 'open'%>
		<input type="hidden" name="survey[survey_status]" value="ended">
		<input type="submit" value="End Survey">
	<% when 'closed'%>
		<input type="hidden" name="survey[survey_status]" value="open">
		<input type="submit" value="Send Survey">
	<% when 'ended'%>
		<button type="button" class="view-results-button" id=<%="button-survey#{s.id}"%>>View Responses</button>
	<% end %>
<% end %>