<h2>Open Discussions</h2>

<ul class="discussions_list">
	<% if @discussions.length == 0 %>
		<p class="empty-discussions">There are no discussions at this time.</p>
	<% else %>
		<% @discussions.each do |d| %>
			<li><%= link_to "#{d.title}", discussion_path(d.id) %></li>
		<% end %>
	<% end %>
</ul>

<%= render('discussions/new_discussion_form') %>

<script>
	var channel = dispatcher.subscribe('new_discussion');
	channel.bind('update_discussions_index', function(data) {
	  $('p.empty-discussions').remove();
	  $('.discussions_list').append('<li><a href="/discussions/'+data['id']+'">'+data['title']+'</a></li>');
	});
</script>