<h2>Current Discussions</h2>
<% if @discussions.length == 0 %>
	<p>There are no discussions at this time.</p>
<% else %>
	<ul class="discussions_list">
	<% @discussions.each do |d| %>
		<li><%= link_to "#{d.title}", discussion_path(d.id) %></li>
	<% end %>
	</ul>
<% end %>

<%= form_tag("/discussions", method: :post) do -%>
	<div>
		<label for="title">Title </label>
		<input type="text" id="title" name="discussion[title]">
	</div>
	<div>
		<label for="email">Email </label>
		<input type="text" id="email" name="discussion[leader_email]">
	</div>
	<input type="submit" value="Create Discussion">
<% end -%>

<script>
	var channel = dispatcher.subscribe('new_discussion');
	channel.bind('update_discussions_index', function(data) {
	  console.log('channel event received: ' + data['title']);
	  $('.discussions_list').append('<li><a href="/discussions/'+data['id']+'">'+data['title']+'</a></li>');
	});
</script>