<nav id="main-navbar" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
			<ul class="nav navbar-nav">
				<li><%= link_to 'All Discussions', "/discussions" %></li>
			</ul>
		</div>
	</div>
</nav>

<div class="row">
	<div class="col col-xs-12">
	</div>
</div>

<div class="row">
	<div class="col col-xs-12 col-sm-6">
		<h3>Current Discussions</h3>
		<ul class="discussions_list">
			<% if @discussions.length == 0 %>
				<p class="empty-discussions">There are no discussions at this time.</p>
			<% else %>
				<% @discussions.each do |d| %>
					<li><h4><%= link_to "#{d.title}", discussion_path(d.id) %></h4></li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="col col-xs-12 col-sm-6">
		<%= render('discussions/new_discussion_form') %>
	</div>
</div>

<script>
	var channel = dispatcher.subscribe('new_discussion');
	channel.bind('update_discussions_index', function(data) {
	  $('p.empty-discussions').remove();
	  $('.discussions_list').append('<li><h4><a href="/discussions/'+data['id']+'">'+data['title']+'</a></h4></li>');
	});
</script>