<%= form_tag("/discussions/#{discussion.id}/surveys", method: :post, remote: true, role: "form") do -%>
	<div class="form-group">
		<label for="question"><h4>Create a New Survey Question: </h4></label>
		<textarea type="text" id="question" name="survey[survey_question]" class="form-control" rows="5"></textarea>
	</div>
		<input type="hidden" name="survey[discussion_id]" value=<%="#{discussion.id}"%>>
		<input type="submit" name="survey[survey_action]" value="Create Survey" class="btn btn-xs btn-primary">
		<input type="submit" name="survey[survey_action]" value="Create &amp; Send Survey" class="btn btn-xs btn-primary">
<% end -%>